body {
background-color:orange;
color:black;
font-family:"chakra petch",sans-serif;
margin: 0px;
}

header {
    border-bottom:solid 4px blue;
    padding: 20px;
    font-size: 44px;
    color:blueviolet;
}